
VITE_SUPABASE_URL=https://dseumcyrmnhqpjncfqmq.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzZXVtY3lybW5ocXBqbmNmcW1xIiwicm9sZSI
6ImFub24iLCJpYXQiOjE3Nzg2MDU5OTIsImV4cCI6MjA5NDE4MTk5Mn0.6C21u07cmgkhNMuK1gKmP-OJsX4Cqz9f2x_IhOLB4hk

VITE_VAPID_PUBLIC_KEY=BJ6-tyOGlGvV7vOc4giHHKEfWXP0_NvaTdqQZJQ2HXgVL-Ko_-RUGhLE0EBvjSgU-nB_0nFWkv1uPm7-xLtUKk8